body {
    background-image: radial-gradient(circle, #004f80, #001725);

    color: white;


    margin-top: 30px;

    margin-left: 80px;

}

footer {
    text-align: left;
}

.logo img {
    position: center;
    bottom: 60px;
}

.footer a {
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    outline-color: #000000;
    text-shadow: #000 0px 0px 1px;
    opacity: 0.8;
    position: relative;
    bottom: -50px;

    display: inline;

}

a {
    color: LightGray;
}


a:hover {
  color: orange;
}

input[type=text]{
	font-size:35px;
	width:350px;
	height:40px;


}

input[type=password] {
    font-size: 35px;
    width: 350px;
    height: 40px;
}


input[type=submit]{
	font-size:15px;

    font-weight: bold;
    color: #2c2d30;
    position: relative;
}

.logo1 img{
	height: auto;
    width: auto;
    max-width: 750px;
    max-height: 750px;
}

input[type=submit]:hover {
  background-color: #FFA500;
}

input[type=email]{
	font-size:15px;
	width:250px;
	height:45px;
    color: #2c2d30;
    position: relative;
}

.predict_btn{
	font-size:15px;
	width:300px;
	height:45px;
	font-weight: bold;
	color:#2c2d30;
	position:relative;

}

.predict_btn:hover {
  background-color: #FFA500;
}

