{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} Band Calculator {% endblock %}
{% block body_block %}
    <div>

        <form id=coursework_submission method="post" action="/gradinator/add_coursework_form/{{ coursework }}/"
              enctype="multipart/form-data">
            {% csrf_token %}
            <img src="{{ MEDIA_ROOT }}/static/images/imageedit_1_2509190138.png"
                 width="1200"
                 height="400"/><br><br>
            {% for field in form %}
                {{ field.errors }}
                {{ field.help_text }} {{ coursework }}
                {{ field }}
            {% endfor %}
            %<br>

            <input type="submit" value="Submit">
        </form>

    </div>
{% endblock %}