{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} Band Calculator {% endblock %}
{% block body_block %}
<div>
	Input what you got in each piece of coursework 
</div>
<div>
	{% for course, list_coursework in not_enrolled.items %}
		{% if list_coursework %}
			<h3>{{course}}</h3>
		{% endif %}
		<ul>	
			
			{% for coursework in list_coursework %}
				<li>
					<a href="/gradinator/add_coursework_form/{{coursework.slug}}/">
						{{coursework.name}}
					</a><br>
				</li>
			{% endfor %}  		
			
		</ul>
	{% endfor %}
</div>
{% endblock %}