{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} Band Calculator{% endblock %}

{% block body_block %}
<h3>Band Calculator</h3>
<div>
    Given what you got in each peice coursework so far click the button to predict what you need to get in the remaining
    coursework for each band.<br>

    Only shows courses you are enrolled in and have unfinished coursework for.
</div>
<div>
    <br>
    {% if not not_enrolled %}
    No course to show! <br>
    Head on over to enrol to add your courses and add user coursework to add your coursework
    {% endif %}
    {% for course, list_coursework in not_enrolled.items %}

    {% if list_coursework %}
    <h4>{{course}}</h4>

    <ul>

        {% for coursework in list_coursework %}
        <li>

            {{coursework.grade_for}} - {{coursework.grade}}%<br>
        </li>
        {% endfor %}


                <form action="/gradinator/band_calculator/{{course.slug}}/">
                <input type="submit" value= "Predict bands for {{course}}"/>
            </form>

    </ul>
    {% endif %}


    {% endfor %}
</div>
{% endblock %}