{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} Band Calculator {% endblock %}
{% block body_block %}
<div>
	Input what you got in each piece of coursework and what you need in each remaining peice of coursework will be calculated so that you can achieve a given band
</div>
<div>
	{% for tuple in coursework_grades %}
	{{tuple.0.name}} 
	<ul>

		{% for coursework in tuple.1 %}
		<li id={{course.name}}>
			{{coursework.name}} -
			<form class=coursework-submittion action="/action_page.php">
				What you got in {{course.name}} here where possible <input type="text" name="fname"><br>
				<input type="submit" value="Submit">
			</form>
		</li>
		{% endfor %}
	</ul>
	{% endfor %}
</div>
{% endblock %}