{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} Contact Us {% endblock %}
{% block body_block %}
<h1>Contact Us</h1>
Our emails
<ul>
    <li>
        Arran - <a href="mailto: 2323915b@student.gla.ac.uk">2323915b@student.gla.ac.uk</a>
    </li>

    <li>
        Stewart - <a href="mailto: 2315655i@student.gla.ac.uk">2315655i@student.gla.ac.uk</a>
    </li>

    <li>
        Iveta Dragomirova Ivanova - <a href="mailto: 2315655i@student.gla.ac.uk">2315655i@student.gla.ac.uk</a>
    </li>
</ul>
{% endblock %}