{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} {{ course.name }} {% endblock %}
{% block body_block %}
	{% if course %}
		<h1>{{ course.name }}</h1>

		{{ course.id }}<br>
		{{ course.school }}<br>

		<h3>Taught By</h3>
		{{ course.taught_by }}<br>
		
		<h3>Description</h3>
		{{ course.description }}<br>
		
		<h3>Requirements of Entry</h3>
		{{ course.requirements_of_entry }}<br><br>

		{{ course.credits }} credits<br>
		{{ course.year }} year <br><br>

		<h3>Coursework</h3>
		<ul>
		{% for cw in coursework %}
			<li>
				{{cw.name}}	{{cw.weight}}
			</li>
			
		{% endfor %}
		</ul>

		<a href="{{course.url}}">MyGlasgow Link </a>

	{% else %}
		The specified course does not exist!
	{% endif %}
{% endblock %}