{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %}
    <style>

    </style>{{ course.name }} {% endblock %}
{% block body_block %}
    {% if course %}
        <h1>{{ course.name }}</h1>

        ID: {{ course.id }}<br>
        School: {{ course.school }}<br>
        <h3>Taught By</h3>
        {{ course.taught_by }}
        <h3>Description</h3>
        {{ course.description }}
        <h3>Requirements of Entry</h3>
        {{ course.requirements_of_entry }}<br>




        <h5>Coursework:</h5>
        <ul>
            {% for cw in coursework %}
                <li>
                    {{ cw.name }} {{ cw.weight }}
                </li>

            {% endfor %}
        </ul>
        Course credits: {{ course.credits }} credits
        <br>Year of Study: {{ course.year }}<br>

        <a href="{{ course.url }}">MyGlasgow Link </a>

    {% else %}
        The specified course does not exist!
    {% endif %}
{% endblock %}