{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} Enrol {% endblock %}
{% block body_block %}
<div>

	<h1>Enrol with Gradinator</h1>
	{% if not_enrolled %}
		<p>All the courses you are not already enrolled in.</p>
	{% else %}
		<p>You have enrolled to every course.</p>
	{% endif %}
	
	{% for course in not_enrolled %}

	<form  id="enrol_btn" method="post" action="/gradinator/enrol/{{course.slug}}/" data-courseid="{{course.id}}" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="{{course.name}}" />
	</form>

	{% endfor %}



</div>
{% endblock %}