{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} FAQ {% endblock %}
{% block body_block %}
    <h1>FAQ</h1>
    Workflow is
    <ul>
        <li>
            Login/register
        </li>
        <li>
            Head to enrol to add your courses.
        </li>
        <li>
            Head to add user coursework to add completed coursework.
        </li>
        <li>
            Use the band calculator to predict what you need in the remaining coursework for a given course to get each band.
        </li>
        <li>
            Use the GPA calculator to calculate your grade point average for all completed courses.
        </li>
    </ul>
{% endblock %}