{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} GPA Calculator {% endblock %}
{% block body_block %}
    <h3>GPA Calculator</h3>
    <button class="predict_btn " name=gpa_btn
            type="button">Calculate GPA
    </button>
    <div id="divgpa_btn">

        <p class="to_be_hidden pgpa_btn"> {{gpa}}</p>

        <br>

    </div>

    <div> In each course your final grade is</div>

	{% for UserGrade in list %}
        {{UserGrade.0.grade_for}} - {{UserGrade.0.grade}}% - {{UserGrade.0.grade_for.credits}} credits - Band {{UserGrade.1}} - Grade Point {{UserGrade.2.1}}
    {% endfor %}


{% endblock %}