{% extends 'gradinator/base.html' %}
{% load staticfiles %}
{% block title %} My Courses {% endblock %}
{% block body_block %}
<h1>My Courses</h1>
{% if my_courses %}
<p>All the courses you have already enrolled in.</p>
{% else %}
<p>You have not enrolled to any course. Head on over to enrol.</p>
{% endif %}

<ul>
    {% for course in my_courses %}


    <li class="hover">
        <a href="/gradinator/course/{{course.slug}}/">
            {{course.name}}
        </a>
    </li>


    {% endfor %}
</ul>
{% endblock %}